<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ './css/swiper-bundle.min.css' | url }}" />
    <link rel="stylesheet" href="{{ './css/index.css' | url }}">
  </head>
  <body>
    <div class="container"></div>
    <div class="content">
      <header class="header">
        <h1 class="header__title">
          {{ metadata.content_title }}
        </h1>
      </header>

      <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>

        {{ content | safe }}
      </main>

      <footer class="footer">
        {% include "./footer.njk" %}
      </footer>
    </div>
    <script src="{{ './js/swiper-bundle.min.js' | url }}"></script>
    <script src="{{ './js/main.js' | url }}"></script>
  </body>
</html>
