<ul class="footer__list">
    {% for social in metadata.socials %}
      <li class="footer__list-item">
          <a href="{{ social.link }}" target="_blank" class="footer__link footer__link_{{ social.classname }}">{{social.name}}</a>
      </li>
    {% endfor %}
</ul>
